.team{
    color: rgb(119, 119, 119);
    background-color: white;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1vh;
    box-shadow: 10px 10px 30px #282A36;
}
.team img{
    background-color: white;
    width: 25vh;
}
.team h3{
    color: rgb(19, 19, 22);
}
.explore-btn{
    background-color: #21ADA8;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}
.explore-btn:hover{
    background-color: #57dbd7;
}
.explore-btn:focus{
    border:2px solid #57dbd7;
}

